@import 'tailwindcss';
@import './components/ui/styles.css';

@custom-variant dark (&:is(.dark *));

/* Typography scale */
@theme {
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 0.875rem; /* 14px */
  --text-lg: 1rem; /* 16px */
  --text-xl: 1.125rem; /* 18px */
  --text-xxl: 1.25rem; /* 20px */
}

@theme inline {
  --font-dana: var(--font-dana);
  --font-poppins: var(--font-poppins);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* primary */
  --color-primary-50: #80d6d6;
  --color-primary-500: #00acac; /*base*/
  --color-primary-600: #019090;
  --color-primary-800: #0b3a42;
  --color-primary-900: #062026;

  /* blue */
  --color-blue-50: #f6f9ff;
  --color-blue-100: #ebedf5;
  --color-blue-200: #cad4e4;
  --color-blue-300: #b4c2d9;
  --color-blue-900: #344456;

  /* gray */
  --color-gray-50: #f9f9f9;
  --color-gray-100: #ededed;
  --color-gray-300: #cbcbcb;
  --color-gray-700: #757575;

  --color-white: #ffffff;
  --color-black: #222222;

  /* warning */
  --color-warning-red: #ff6464;
  --color-warning-green: #35cb98;
  --color-warning-blue: #61affd;

  --color-primary: var(--color-primary-500);

  --radius-xxs: 4px;
  --radius-xs: 6px;
  --radius-sm: 8px;
  --radius-md: 10px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
}

:root {
  --background: #f9f9f9;
  --foreground: #222222;
}

.dark {
  --background: #062026;
  --foreground: #f6f9ff;
}

@utility gradient-sky {
  background-image: linear-gradient(135deg, #62c5fe, #068ef7);
}

@utility gradient-violet {
  background-image: linear-gradient(135deg, #9b68ff, #7834ff);
}

@utility gradient-fuchsia {
  background-image: linear-gradient(135deg, #e879f9, #a21caf);
}

@utility gradient-purple {
  background-image: linear-gradient(135deg, #ce4ffb, #9105c2);
}

@utility gradient-rose {
  background-image: linear-gradient(135deg, #e11d48, #9f1239);
}

@utility gradient-coral {
  background-image: linear-gradient(135deg, #ff7476, #ff507e);
}

@utility gradient-orange {
  background-image: linear-gradient(135deg, #ff9e2c, #ff6943);
}

@utility gradient-yellow {
  background-image: linear-gradient(135deg, #ffdc27, #ffb800);
}

@utility gradient-green {
  background-image: linear-gradient(135deg, #3ff964, #26b943);
}

@layer base {
  html {
    @apply font-dana;
    -moz-font-feature-settings: 'ss02';
    -webkit-font-feature-settings: 'ss02';
    font-feature-settings: 'ss02';
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply w-full max-w-[1440px]! px-5 md:mx-auto md:px-13;
  }
}
